<!DOCTYPE html>
<html lang="nl">
    <head>
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block extraIncludes %}
            <script src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
        {% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
            <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css">
        {% endblock %}
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-md">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="container">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('home') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('recepten') }}">Recepten</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('ingredienten') }}">Ingredienten</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Start of the content -->
        <div class="container">
            <div class="page-header">
                <h1>{% block header %}Welkom{% endblock %}</h1>
            </div>
            {% block body %}{% endblock %}
            {% block javascripts %}
                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
            {% endblock %}
        </div>
        <footer class="footer">
            <div class="container text-center">
                <span><small>© 2017 Alle rechten voorbehouden - Mobri - K.v.K. 66470188 - BTW NL194697678B01</small></span>
            </div>
        </footer

    </body>
</html>
